.post-content {
  line-height: 1.625;
  color: #424242;
}

.post-content h2 {
  font-size: 140%;
}

.post-content h3 {
  font-size: 120%;
}

.post-content h2,
.post-content h3 {
  margin: 2rem 0 0.3rem;
  font-weight: 700;
}

.post-content h2:target,
.post-content h3:target {
  padding-top: 5rem;
}

.post-content ul,
.post-content ol {
  list-style-type: initial;
  padding: 0.5em 0 1em 2em;
}

.post-content ul ul {
  list-style-type: circle;
  padding-left: 1.5em;
}

.post-content ul ul ul {
  list-style-type: square;
  margin-bottom: 0px;
}

.post-content ul.list-none {
  list-style-type: none;
}

.post-content p code,
.post-content li code {
  background-color: #f0f3f3;
  padding: 0.2em 0.4em;
  border-radius: 3px;
  color: #805ad5;
}

.post-content p {
  margin: 0.5rem 0 1rem;
}

.post-content img {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  margin: 1.5rem auto;
}

.post-content a {
  padding: 0.25rem 0;
  border-bottom: 2px solid #9e9e9e;
}

.post-content a:hover {
  color: #131820;
  border-color: #131820;
}

.post-content blockquote {
  background-color: #eee;
  color: #9e9e9e;
  padding: 1rem;
  border-left-width: 4px;
  border-color: #9e9e9e;
  font-style: italic;
}

.post-content pre,
.post-content .highlight {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
}

::selection {
  background: #e9d8fd;
  color: #202684;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #e9d8fd;
  color: #202684;
  /* Gecko Browsers */
}

a:focus {
  outline: none;
  background: #e9d8fd;
}

/* 侧边导航 */

#menu-content > ul {
  padding: none;
}

#TableOfContents > ul {
  list-style-type: none;
  padding-left: 0;
}

#TableOfContents li {
  padding-top: 0.5em;
}

#TableOfContents > ul > li ul {
  list-style-type: none;
  padding-left: 1.5em;
}

#TableOfContents a {
  transition: all 0.2s ease !important;
}
#TableOfContents a:hover {
  color: #1a202c !important;
  transform: translateX(2px) !important;
}

.my-iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}